* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: Arial, sans-serif;
}
h1 {
	text-align: center;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

li span {
  font-weight: bold;
}

img {
  max-width: 100px;
}

/* Styles pour la div modale */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
}

.modal-content img {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}
